body {
  font-family: "Comfortaa", sans-serif;
}

.price_btn {
  background: linear-gradient(90deg, #F8939C 0%, #FFD586 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.active {
  color: #F8939C !important;
}

.artwork_card{
  box-shadow: 14px 12px 0px 0px #E1AFF5;
}
.price{
  font-family: 'Modern Antiqua', sans-serif;
}