.story_title{
  font-family: 'Modern Antiqua' !important;
}
.banner_title{
  font-family: 'Bubblegum Sans' !important;
}
.go_btn{
  position: relative;
  isolation: isolate;
  overflow: hidden;
  /* background-color: pink; */
}
.go_btn:hover:before{
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: black;
  z-index: -1;
  transition: 0.4s;
}


.go_btn:hover:before{
  left: 0;
  right: auto;
  width: 100%;
}

.go_btn::after{
  content: "";
  position: absolute;
  transition: 0.4s;
  right: 0;
  top: 0;
  height: 100%;
  left: auto;
  width: 0;
  z-index: -1;
}

